extends layout
block cssscripts
  link(rel='stylesheet', href='/stylesheets/index.css')
block content

  input#tel.inline.form-control(placeholder="手机号")
  br
  input#url.inline.form-control(placeholder="饿了么红包链接")
  br
  button#submit.btn.btn-default 确定

block selfjsscripts
  script(src='/javascripts/index.js')
