doctype html
html
  head
    title= title
    block cssscripts
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    
  body
    block content

    block jsscripts
        script(src='/javascripts/js/jquery-3.3.1.min.js')
        script(src='/javascripts/js/bootstrap.min.js')
        
    block selfjsscripts
